<div class="container text-center">
<h1>"sessions#new"</h1>
<%= form_for(:session, url: login_path) do |f| %>

  <div class="form-group form-icons ">
    <i class="fa fa-user"></i>
      <%= f.text_field :username, class: "form-control", placeholder: "Username* " %>
   </div>
   <div class="form-group form-icons">
       <i class="fa fa-sign-in"></i>
      <%= f.submit "Log in", class: "btn btn-primary btn-lg text-center" %>
      </div>
    <% end %>

</div>