<section>
  <div class="h2 py-2 header h-25">
     <i class="fa fa-backward signup_page mt-2 pl-2 pt-3">
      <%= link_to 'BACK', root_path %>
   </i>
    <i class="fa fa-user mx-2"></i>
        LOG IN
   </div>

<div class="container text-center mt-5">

<%= form_for(:session, url: login_path, :html => { class: "contact"}) do |f| %>

  <div class="form-group form-icons text-center">
    <span class="fa fa-user"></span>
    <%= f.text_field :username, class: "form-control", placeholder: "Username*"  %>
  </div>
   <div class="form-group form-icons">
       
      <%= f.submit "LOG IN", class: "btn btn-success btn-block btn-lg text-center" %>
      </div>
    <% end %>
  

</div>
</section>