<div class="container text-center">
<h1>Editing Group</h1>

<%= render 'form', group: @group %>

<%= link_to 'Show', @group %> |
<i class="fa fa-backward">
<%= link_to 'Back', groups_path %>
</i>
</div>