<div class="container text-center mt-5">
<div class="h2 py-2 text-primary">New Account</div>

<%= render 'form', user: @user %>
<i class="fa fa-backward">
<%= link_to 'Back', login_path %>
</i>
</div>