<p id="notice"><%= notice %></p>
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>
  <button>All My Transactions</button><br>
  <button>All My External Transactions</button><br>
  <button>All My Groups</button><br>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
