<h1>Editing External Transaction</h1>

<%= render 'form', external_transaction: @external_transaction %>

<%= link_to 'Show', @external_transaction %> |
<%= link_to 'Back', external_transactions_path %>
