<div class="container start-page">
<div></div>
 <h1>Project Name Italic</h1>
<div class="container text-center">
<p>Already have account?  <i class="fa fa-sign-in">
<%= link_to "Log in", login_path %>
</i>
</p>
<p>New account
<i class="fa fa-sign-in">
 <%= link_to "Sign up", new_user_path %>
 </i>
 </p>
<div>
</div>